.header {
  background-color: #f0f0f0; /* Cinza claro */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve no header */
}

.logo {
  height: 40px; /* Tamanho da logo */
}

.logout-button {
  background-color: #d9534f; /* Cor de fundo do botão logout (vermelho claro) */
  border: none;
}
